body {
    background-color: rgb(179, 174, 174);
    margin: 0px;
    padding: 0px;
    text-align: center;
   
}

.container {

    box-sizing: 20px;
    background-color: rgb(179, 174, 174);
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.left {
    float: left;
    text-size-adjust: 20px;
    width: 50%;
    padding: 10px;
    height: auto;

}

.logo {
    width: 300px;
      height: 250px;
}
p {
    font-size: 24px;
}
h2 {
    font-size: 27px;
}
.rig


ht1 {
    width: auto;
    height: auto;
    flex: 1;
align-items: center;
justify-content: center;
}
.container2 {
    box-sizing: 20px;
    background-color: rgb(179, 174, 174);
}
.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
   
}   
.left2 {
    float: left;
    text-size-adjust: 20px;
    width: 50%;
    padding: 10px;
    height: auto;
}
.right2 {
    
border: black;
    flex: 1;
align-items: center;
justify-content: center;
}
h2 {
    font-size: 59px;
}
p {
    font-size: 24px;
}
.img2 {
   width: 700px;
    height: auto;
    flex: 1;
align-items: center;
justify-content: center;
}

.container3 {
    box-sizing: 20px;
    background-color: rgb(179, 174, 174);
}
.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.left3 {
    float: right;
    text-size-adjust: 20px;
    width: 50%;
    padding: 10px;
    height: auto;
}
p {
    font-size: 24px;
}
h2 {
    font-size: 27px;
}
.rig


ht1 {
    width: auto;
    height: auto;
    flex: 1;
align-items: center;
justify-content: center;
}
.container4 {

    box-sizing: 20px;
    background-color: rgb(179, 174, 174);
}
.box4 {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.left4 {
    float: right;
    text-size-adjust: 20px;
    width: 50%;
    padding: 10px;
    height: auto;
}
p {
    font-size: 24px;
}
h2 {
    font-size: 27px;
}
.img4 {
   width: 700px;
    height: auto;
    flex: 1;
}
.container5 {

    box-sizing: 20px;
    background-color: rgb(179, 174, 174);
}
.box5 {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.left5 {
    float: right;
    text-size-adjust: 20px;
    width: 50%;
    padding: 10px;
    height: auto;
}
